#myTooltip {
	border: 1px solid #CCC;
	width: 400px;
	padding: 1em;
	border-radius: 2px;
	position: absolute;
	z-index: 100;
	display: none;
	background-color: white;
	.closeButton {
		display: block;
		position: absolute;
		top: -1em;
		right: -1em;
		width: 2em;
		height: 2em;
		font-size: 2em;
		font-weight: bold;
		text-align: center;
		background-color: white;
		color: #999999;
		border-radius: 50%;
		border: 1px solid #999999;
		&:hover {
			text-decoration: none;
		}
	}
	.loader {
		position: absolute;
		top: -50px;
		left: 0;
	}
	.amount, .currency {
		color: #A30046;
	}
	.product-price__original {
		.amount {
			color: #999999 !important;
		}
		.currency {
			color: #999999 !important;
		}
	}
	//create triangle
	&::after {
		content: '';
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #FFF;
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -10px;
	}
}
//so that header won't overlap with tooltip
header.layout-header {
	z-index: 9999;
}